.form-item{
  margin-top: 4em;
  position: absolute;
   top: 60%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.button-md{
  background-color: white;
color: 	#00008B;
border: solid 2px #00008B;
}
.ion-header  {


    color: 	#00008B;
    background-color: 	#00008B;

}

	.toolbar-background-md{

    background:#00008B;
  }

.toolbar-title-md{
  color:white;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{

  color:white;
}
